@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello!</h1>
    <p>Game stuff for Oscar's enjoyment.</p>
</div>
    <div class="display-label">
        <p>Fallout: New Vegas</p>
    </div>
<div class = "display-field">
    <img src="/FalloutNewVegas.jpg" alt="Fallout: New Vegas">
    </div>